.modalWrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
}

.leftSection{
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, .4);
    flex-direction: column;

    .photo{
        flex: 1;
        display: flex;

        img{
            display: none;
        }

        .image{
            flex: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.rightSection{
    width: 300px;
    background-color: #fff;
}