.main {
    min-height: 100dvh;
    width: 100%;
    background-color: aliceblue;

    .list {
        margin-left: 240px;
        display: flex;
        flex-wrap: wrap;

        .item {
            border: 1px solid red;
            width: min-content;
        }
    }
}