.main {
    min-height: 100dvh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;

    .test {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgWrapper {
            flex: 1;
            max-width: 500px;
            position: relative;
            aspect-ratio: 16/9;
            background-color: red;
        }
    }
}